<div class="flex w-full justify-center">
  <div class="w-[50%] justify-end">
    <div class="text-center">
      <h1 id="message">hi</h1>
      <button class="btn-detaljnije" (click)="getAccessToken()">
        Give me a song
      </button>
    </div>
    <div class="mt-4 h-full w-full">
      <iframe
        *ngIf="trackID"
        style="border-radius: 12px"
        [src]="
          sanitizer.bypassSecurityTrustResourceUrl(
            'https://open.spotify.com/embed/track/' + trackID
          )
        "
        width="100%"
        height="152"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>
    </div>

    <!-- background color could change in accordance to iframe bg color animation switch with transition -->
  </div>
</div>
