<h1 id="message">hi</h1>
<button class="btn-detaljnije" (click)="getAccessToken()">
  Give me a song
</button>
<div class="flex">
  <div class="w-screen justify-center my-1 mx-auto">
    <iframe
      *ngIf="trackID"
      id="song-frame"
      class="rounded-xl"
      [src]="
        sanitizer.bypassSecurityTrustResourceUrl(
          'https://open.spotify.com/embed/track/' + trackID
        )
      "
      width="100"
      height="100"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </div>
</div>

<!-- background color could change in accordance to iframe bg color animation switch with transition -->
